<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Side by Side Boxes</title>
    <style>
        hr {
            border: 1px solid black;
        }
    </style>
</head>

<body>
    <header style="padding: 10px;">
        <table style="border-collapse: collapse; width: 100%;">
            <tr class="header">
                <th width="10%"></th>
                <th width="10%"></th>
                <th width="10%"></th>
                <th width="10%"></th>
                <th width="10%"></th>
                <th width="10%"></th>
                <th width="10%"></th>
                <th width="10%"></th>
                <th width="10%"></th>
                <th width="10%"></th>
            </tr>

            <tr class="image-header">
                <td colspan="5">
                    <img src="https://i.imgur.com/EVKJUkQ.jpg" alt="logo.jpg" width="150" height="30" />
                </td>
                <td colspan="1"></td>
                <td colspan="4" style="vertical-align: bottom;">
                    <h3>Packing List</h3>
                </td>
            </tr>

            <tr class="content">
                <td colspan="5" style="vertical-align: bottom;">
                    <p style="margin: 0;">Yokogawa India Limited</p>
                    <p style="margin: 0;">Plot No.96, Electronic City Complex, Hosur Road</p>
                    <p style="margin: 0;">Bangalore-560100, India</p>
                    <p style="margin: 0;">State Name & Code: Karnataka-29 India</p>
                    <p style="margin: 0;">Phone: +91-80-2852-1100</p>
                </td>
                <td colspan="1" style="vertical-align: bottom;"></td>
                <td colspan="4" style="vertical-align: bottom;">
                    <p style="margin: 0;">DO No: 123456</p>
                    <p style="margin: 0;">DO Date: 2021-06-01</p>
                    <p style="margin: 0;">SO No: 123456</p>
                    <p style="margin: 0;">PO No: 123456</p>
                </td>
            </tr>
        </table>
        <hr>
    </header>

    <div>
        <table style="border-collapse: collapse; width: 100%;">
            <tr class="header">
                <th width="10%"></th>
                <th width="10%"></th>
                <th width="10%"></th>
                <th width="10%"></th>
                <th width="10%"></th>
                <th width="10%"></th>
                <th width="10%"></th>
                <th width="10%"></th>
                <th width="10%"></th>
                <th width="10%"></th>
            </tr>

            <tr class="content">
                <td colspan="5" style="vertical-align: bottom;">
                    <h3 style="margin: 0;">Ship To:</h3>
                    <p style="margin: 0;">Yokogawa India Limited</p>
                    <p style="margin: 0;">Plot No.96, Electronic City Complex, Hosur Road</p>
                    <p style="margin: 0;">Bangalore-560100, India</p>
                    <p style="margin: 0;">State Name & Code: Karnataka-29 India</p>
                    <p style="margin: 0;">Phone: +91-80-2852-1100</p>
                </td>
                <td colspan="1" style="vertical-align: bottom;"></td>
                <td colspan="4" style="vertical-align: bottom;">
                    <h3 style="margin: 0;">Bill To:</h3>
                    <p style="margin: 0;">Yokogawa India Limited</p>
                    <p style="margin: 0;">Plot No.96, Electronic City Complex, Hosur Road</p>
                    <p style="margin: 0;">Bangalore-560100, India</p>
                    <p style="margin: 0;">State Name & Code: Karnataka-29 India</p>
                    <p style="margin: 0;">Phone: +91-80-2852-1100</p>
                </td>
            </tr>
        </table>
        <hr>
    </div>

    <div>
        <table style="border-collapse: collapse; width: 100%;">
            <tr class="header">
                <th width="10%"></th>
                <th width="10%"></th>
                <th width="10%"></th>
                <th width="10%"></th>
                <th width="10%"></th>
                <th width="10%"></th>
                <th width="10%"></th>
                <th width="10%"></th>
                <th width="10%"></th>
                <th width="10%"></th>
            </tr>

            <tr class="content">
                <td colspan="1" style="vertical-align: bottom;">
                    <p>Packing Id</p>
                    <p>(Packing Size)</p>
                </td>
                <td colspan="5" style="vertical-align: bottom;">
                    <p style="margin: 0;">Model Description</p>
                    <p style="margin: 0;">Model</p>
                    <p style="margin: 0;">Yokogawa Linkage No</p>
                    <p style="margin: 0;">Customer PO SI No</p>
                    <p style="margin: 0;">Customer Part No</p>
                </td>
                <td colspan="4" style="vertical-align: bottom;">
                    <p>Quantity/Quantity Unit</p>
                </td>
            </tr>
        </table>
        <hr>
    </div>

    <div>
        <table style="border-collapse: collapse; width: 100%; ">
            <tr class="header">
                <th width="10%"></th>
                <th width="10%"></th>
                <th width="10%"></th>
                <th width="10%"></th>
                <th width="10%"></th>
                <th width="10%"></th>
                <th width="10%"></th>
                <th width="10%"></th>
                <th width="10%"></th>
                <th width="10%"></th>
            </tr>

            <tr class="content" style="border-bottom: 1px dashed black;">
                <td colspan="1" style="vertical-align: bottom;">
                    <p>P004640490</p>
                    <p>"13x78x67"</p>
                </td>
                <td colspan="5" style="vertical-align: bottom;">
                    <p style="margin: 0;">Rotmasaa Supereme E 58th,SS</p>
                    <p style="margin: 0;">RCSFYYGFYGFJHFG-0893jTUH</p>
                    <p style="margin: 0;">20009889379987</p>
                    <p style="margin: 0;">Cust PO SI No:1</p>
                    <p style="margin: 0;">Customer Part No:ETDYT6267</p>

                </td>
                <td colspan="4" style="vertical-align: bottom;">
                    <p>1.00ST</p>
                </td>
            </tr>

            <tr class="content" style="border-bottom: 1px dashed black;">
                <td colspan="1" style="vertical-align: bottom;">
                    <p>P004640490</p>
                    <p>"13x78x67"</p>
                </td>
                <td colspan="5" style="vertical-align: bottom;">
                    <p style="margin: 0;">Rotmasaa Supereme E 58th,SS</p>
                    <p style="margin: 0;">RCSFYYGFYGFJHFG-0893jTUH</p>
                    <p style="margin: 0;">20009889379987</p>
                    <p style="margin: 0;">Cust PO SI No:1</p>
                    <p style="margin: 0;">Customer Part No:ETDYT6267</p>

                </td>
                <td colspan="4" style="vertical-align: bottom;">
                    <p>1.00ST</p>
                </td>
            </tr>


        </table>
    </div>
</body>

</html>