<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dispatch Export</title>
    <style>
        span {
            font-weight: bold;
            margin: 0 10px;
        }

        .barcode-container {
            display: inline-flex;
            align-items: center;
        }

        .barcode-container img {
            vertical-align: middle;
        }
    </style>
</head>

<body>
    <div>
        <table style="border-collapse: collapse; width: 100%;">
            <tr class="header">
                <th width="10%"></th>
                <th width="10%"></th>
                <th width="10%"></th>
                <th width="10%"></th>
                <th width="10%"></th>
                <th width="10%"></th>
                <th width="10%"></th>
                <th width="10%"></th>
                <th width="10%"></th>
                <th width="10%"></th>
            </tr>

            <tr class="content">
                <td colspan="5" style="vertical-align: bottom;">
                    <h3 style="margin: 0;">Ship To:</h3>
                    <p style="margin: 0;">Packing ID :
                        <span class="barcode-container">
                            <span>POOO4395285</span>
                            <img src="https://i.imgur.com/oWYdGdC.jpg" alt="barcode.jpg" width="150" height="30" />
                        </span>
                    </p>
                    <p style="margin: 0;">Linkage No :<span>POOO4395285</span></p>
                    <p style="margin: 0;">Address :<span>POOO4395285</span></p>
                    <p style="margin: 0;">PO No :<span>POOO4395285</span></p>
                    <p style="margin: 0;">DT :<span>05.04.2024</span></p>
                </td>
                <td colspan="1" style="vertical-align: bottom;"></td>
                <td colspan="4" style="vertical-align: bottom;">
                    <h3 style="margin: 0;">Bill To:</h3>
                    <p style="margin: 0;">Packing ID :
                        <span class="barcode-container">
                            <span>POOO4395285</span>
                            <img src="https://i.imgur.com/oWYdGdC.jpg" alt="barcode.jpg" width="150" height="30" />
                        </span>
                    </p>
                    <p style="margin: 0;">Linkage No :<span>POOO4395285</span></p>
                    <p style="margin: 0;">Address :<span>POOO4395285</span></p>
                    <p style="margin: 0;">PO No :<span>POOO4395285</span></p>
                    <p style="margin: 0;">DT :<span>05.04.2024</span></p>
                </td>
            </tr>
        </table>
        <hr>
    </div>
</body>

</html>