<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
</head>

<body style="font-family: Arial, sans-serif; font-size: 12px;">

    <div style="display: flex; justify-content: space-between; padding: 10px; border-bottom: 1px solid black;">
        <div style="display: flex; flex-direction: column; justify-content: center;">
            <img src="https://i.imgur.com/EVKJUkQ.jpg" alt="logo.jpg" width="150" height="30" />
            <p style="margin: 0;">Yokogawa India Limited</p>
            <p style="margin: 0;">Plot No.96,Electronic City Complex,Hosur Road</p>
            <p style="margin: 0;">Bangalore-560100,India</p>
            <p style="margin: 0;">State Name & Code: Karnataka-29 India</p>
            <p style="margin: 0;">Phone: +91-80-2852-1100</p>
        </div>
        <div style="display: flex; flex-direction: column; justify-content: center;">
            <h3 style="margin: 0;">Packing List</h3>
            <p style="margin: 0;">DO No: 123456</p>
            <p style="margin: 0;">DO Date: 2021-06-01</p>
            <p style="margin: 0;">SO No: 123456</p>
            <p style="margin: 0;">PO No: 123456</p>
        </div>
        <div style="display: flex; justify-content: center; flex-direction: column;">
            <p style="margin: 0;">page 1/1</p>
        </div>
    </div>

    <div style="display: flex; justify-content: space-between; padding: 10px; border-bottom: 1px solid black;">
        <div style="display: flex; flex-direction: column;">
            <h3 style="margin: 0;">Ship To:</h3>
            <p style="margin: 0;">Yokogawa India Limited</p>
            <p style="margin: 0;">Plot No.96,Electronic City Complex,Hosur Road</p>
            <p style="margin: 0;">Bangalore-560100,India</p>
            <p style="margin: 0;">State Name & Code: Karnataka-29 India</p>
            <p style="margin: 0;">Phone: +91-80-2852-1100</p>
        </div>
        <div style="display: flex; flex-direction: column;">
            <h3 style="margin: 0;">Bill To:</h3>
            <p style="margin: 0;">Yokogawa India Limited</p>
            <p style="margin: 0;">Plot No.96,Electronic City Complex,Hosur Road</p>
            <p style="margin: 0;">Bangalore-560100,India</p>
            <p style="margin: 0;">State Name & Code: Karnataka-29 India</p>
            <p style="margin: 0;">Phone: +91-80-2852-1100</p>
        </div>
    </div>

    <div
        style="display: flex; justify-content: space-between; margin-top: 20px; padding: 10px; border-bottom: 2px solid black;">
        <div style="width: 20%; text-align: start;">
            <p style="margin: 0;">Packing Id</p>
            <p style="margin: 0;">(Packing Size)</p>
        </div>
        <div style="width: 60%; text-align: start;">
            <p style="margin: 0;">Model Description</p>
            <p style="margin: 0;">Model</p>
            <p style="margin: 0;">Yokogawa Linkage No</p>
            <p style="margin: 0;">Customer PO SI No</p>
            <p style="margin: 0;">Customer Part No</p>
        </div>
        <div style="width: 20%; text-align: start;">
            <p style="margin: 0;">Quantity/Quantity Unit</p>
        </div>
    </div>

    <div
        style="display: flex; justify-content: space-between; margin-top: 20px; padding: 10px; border-bottom: 2px dotted black;">
        <div style="width: 20%; text-align: start; padding: 10px;">
            <p style="margin: 0;">1</p>
            <p style="margin: 0;">(1)</p>
        </div>
        <div style="width: 60%; text-align: start; padding: 10px;">
            <p style="margin: 0;">Model Description</p>
            <p style="margin: 0;">Model</p>
            <p style="margin: 0;">Yokogawa Linkage No</p>
            <p style="margin: 0;">Customer PO SI No</p>
            <p style="margin: 0;">Customer Part No</p>
        </div>
        <div style="width: 20%; text-align: start; padding: 10px;">
            <p style="margin: 0;">Quantity/Quantity Unit</p>
        </div>
    </div>

</body>

</html>